.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.homeDiv{
margin: 30px;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 20px; /* Gap between columns */
 
}

.heading{
  margin: 30px;
}
.Section{
  border: 2px solid #ab183d;
  margin: 10px;
}
.desciptions{
  margin: 20px;
}

.p{
  font-size: 15px;
  color: brown;
  padding: 5px;
}

.title{
  padding: 10px;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
}
.hrWithGap {
  border: 0;
  height: 1px;
  background-color: #82cd47;
  margin: 20px; /* You can adjust the gap size by changing the '10px' value */
}

.descriptionArea{
  border: 2px solid #ab183d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.descriptionArea h2{
  font-size: 1.5rem;
  text-align: center;
  padding: 20xp;
  background-color: #ab183d;
  color: white;
}

.descriptionArea p{
  text-align: center;
  margin: 30px;
  gap: 10px;
}