.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.homeDiv{
margin: 30px;
}


.heading{
  margin: 30px;
}
.admitCardSection{
  border: 2px solid #82cd47;
  margin: 10px;
}
.admitCard{
  margin: 20px;
}

.p{
  font-size: 15px;
  color: brown;
  padding: 5px;
}

.title{
  padding: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.hrWithGap {
  border: 0;
  height: 1px;
  background-color: #82cd47;
  margin: 20px; /* You can adjust the gap size by changing the '10px' value */
}